@import '@/styles/breakpoints';

.division {
    margin: 0 var(--space-6x);
    border-top: 1px solid var(--color-white);
    opacity: .25;

    @media #{$BREAKPOINT-DESK} {
        margin: 0 var(--space-4x);
    }
}

.overviewContainer {
    display: flex;
    justify-content: space-between;

    padding: var(--space-6x) var(--space-6x) var(--space-4x) var(--space-6x);

    @media #{$BREAKPOINT-DESK} {
        padding: unset;
        gap: var(--space-2-5x);
    }
}

.tokenButton {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 28px;
    border-radius: 50px;
    background-color: transparent;

    color: var(--color-white);
    font-weight: 700;
    font-size: 11px;
}

.tokenTypeText {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.localesContainer {
    display: flex;
    gap: var(--space-2-5x);

    position: absolute;
    z-index: 6;
    bottom: var(--space-6x);
    padding-left: var(--space-6x);

    @media #{$BREAKPOINT-DESK} {
        display: none;
    }
}

.navContainer {
    height: calc(100vh - (var(--space-4x) + var(--space-12x)));

    @media #{$BREAKPOINT-DESK} {
        height: unset;
        display: flex;
    }
}