.interestBadge {
    padding: var(--space-0-5x) var(--space-1-5x);
    background-color: var(--color-white);
    border-radius: 50px;
    font-size: 12px;
    max-width: 182px;
    max-height: 30px;
}