@import '@/styles/mixins.scss';
@import '@/styles/breakpoints.scss';

.offerDetailsHeader {
    @include appMargin;
    margin-top: var(--space-4x);
    margin-bottom: var(--space-4x);

    @media #{$BREAKPOINT-DESK} {
        position: relative;
        height: 342px;
    }
}

.imgContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media #{$BREAKPOINT-DESK} {
        flex-direction: row;
    }
}

.mainPictureContainer {
    position: relative;
}

.mainPictureContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-gray), transparent);
    border-radius: 5px;

    @media #{$BREAKPOINT-DESK} {
        -webkit-mask-image: url('../../assets/images/lody-details-mask-1.png');
        mask-image: url('../../assets/images/lody-details-mask-1.png');
        mask-repeat: no-repeat;
        mask-size: cover;
        height: 342px;
        width: 833px;
    }
}

.mainPicture {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
    

    @media #{$BREAKPOINT-DESK} {
        height: 342px;
        width: 833px;
        -webkit-mask-image: url('../../assets/images/lody-details-mask-1.png');
        mask-image: url('../../assets/images/lody-details-mask-1.png');
        mask-size: cover;
        mask-repeat: no-repeat;
    }
}

.imagContainerCol2 {
    width: 100%;
    display: flex;
    gap: 4px;

    @media #{$BREAKPOINT-DESK} {
        flex-direction: column;
        align-items: flex-end;
        width: 324px;
        gap: 14px;
        margin-left: auto;
    }
}

.secondPicture, .thirdPicture {
    width: 50%;
    height: 158px;
    border-radius: 5px;
    object-fit: cover;
}

.secondPicture {
    @media #{$BREAKPOINT-DESK} {
        -webkit-mask-image: url('../../assets/images/lody-details-mask-2.png');
        mask-image: url('../../assets/images/lody-details-mask-2.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        width: 319px;
        height: 165px;
        position: absolute;
    }
}

.thirdPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media #{$BREAKPOINT-DESK} {
        -webkit-mask-image: url('../../assets/images/lody-details-mask-3.png');
        mask-image: url('../../assets/images/lody-details-mask-3.png');
        mask-size: cover;
        mask-repeat: no-repeat;
    }
}

.thirdPictureContainer {
    width: 100%;
    height: 158px;
    position: relative;

    @media #{$BREAKPOINT-DESK} {
        width: 375px;
        height: 165px;
        position: absolute;
        bottom: 0;  
        right: 0;
    }
}

.playContainer {
    position: absolute;
    z-index: 3;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: var(--space-8-8x);
    background: transparent;
    width: fit-content;
    border: none;
    cursor: pointer;

    @media #{$BREAKPOINT-DESK} {
        top: var(--space-13x);
    }
}