.container {
	position: relative;

	&:global(.is-open) .list {
		visibility: visible;
	}

	.input {
		display: flex;
		align-items: center;
		gap: 10px;
		width: 178px;
		height: 40px;
		padding: 0 12px;
		border-radius: 5px;
		border: 1px solid #0000001a;
		box-shadow: 0px 4px 4px 0px #0000000d;
		font-family: Gilroy;
		font-size: 12px;
		cursor: pointer;

		.inputLabel {
			font-weight: 700;
			width: 100%;
		}
	}

	.list {
		position: absolute;
		left: 84%;
		transform: translateX(-84%);
		max-height: 170px;
		background: white;
		box-shadow: 0px 4px 4px 0px #0000000d;
		border-radius: 0px 0px 5px 5px;
		padding: 15px 0;
		overflow: hidden;
		overflow-y: auto;
		visibility: hidden;
		z-index: 1;

		&.isBottom {
			bottom: 100%;
		}

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--scrollbar-track-color);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollbar-color);
		}

		.item {
			font-size: 12px;
			font-weight: 400;
			padding: 6px 12px;
			width: 100%;
			cursor: pointer;

			&:hover {
				background: var(--scrollbar-color);
				color: white;
			}
		}
	}
}

.select {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
