.container {
	position: fixed;
	top: 20%;
	left: 28%;
	background-color: #fff;
	width: 702px;
	padding: 0 30px;
	height: 594.0001220703125px;
	z-index: 9;

	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	display: flex;
	align-items: center;
	flex-direction: column;
}

.btnClose {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
