.interestBadge {
    position: absolute;
    top: var(--space-1-5x);
    left: var(--space-0-5x);

    padding: var(--space-0-5x) var(--space-1-5x);
    background-color: var(--color-white);
    border-radius: 50px;
    font-size: 12px;
}