@import "@/styles/breakpoints";

.container {
	display: inline-block;
	position: relative;
	height: 40px;
	border-radius: 50px;
	cursor: pointer;
	user-select: none;

	@media #{$BREAKPOINT-MOBILE-LAND} {
		width: 100%;
	}
}

.container .input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.container .button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding: 9px 50px 9px 18px;
	background-color: #f1f1f1;
	height: 100%;
	border-radius: 50px;

	--button-bg-color: #c8debcb2;
	--inner-circle-color: #557047;
}

.secondary .button {
	--button-bg-color: #b3d9e8;
	--inner-circle-color: #048abf;
}

.container .input:checked + .button {
	background-color: var(--button-bg-color);
}

.container .button .innerCircle {
	content: "";
	position: absolute;
	top: 13px;
	right: 18px;
	width: 15px;
	height: 15px;
	border: 3px solid white;
	border-radius: 50%;
	background: #b5b5b5;
}

.container .input:checked + .button .innerCircle {
	background: var(--inner-circle-color);
}

.label {
	font-size: 14px;
	font-weight: 500;
	margin-left: var(--space-1x);
}

.labelContainer {
	display: flex;
	align-items: center;
}
